*{
/*    Golobal selection*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root
{
/*    initializing colors and font size*/
    --bg-color: #373737;
    --text-color: #fff;
    --main-color: #eb4a4a;
    --other-color: #12141c;
    --h1-font:5.2rem;
    --h2-font:3.5rem;
    --p-font:1.1rem;
}
body {
/*    Text color and bg*/
    background: var(--bg-color);
    color: var(--text-color);
}
header{
/*    position the header*/
    position: fixed;
    right:0;
    top:0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: transparent;
    padding: 22px 16%;
    border-bottom: 1px solid transparent;
    transition: all 0.50 ease;
}
.logo img
{
/*    Size of the logo*/
    width: 135px;
    height:auto;
}
.navBar{
/*    navigation bar buttons in line*/
    display: flex;
}
.navBar a{
/*    Nav buttons style*/
    color:var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding: 10px 25px; 
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all 0.40s ease;
}
.navBar a:hover{
/*    Make button effects while hovering*/
    background: var(--main-color);
    color: var(--text-color);
}
#menu-icon{
/*    styling the burger bar and hide it*/
    font-size: 36px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
/*Home page */
section{
/*    postion of the sections of all pages */
    padding: 150px 20% 100px;
}
.home {
/*    Home page width,height and bg pic */
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(photos/Group%202.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
/*    makes the text and bg aligned togather*/
    align-items: center;
    justify-content: flex-start;
}

/*styling the text color "HEILLO IM MO..elc"*/
.home-text h1
{
    /*styling text 'IM Mo'*/
    margin: 20px 0px;
    font-size: var(--h1-font);
    font-weight: bold;
    line-height: 1.1;
    letter-spacing: 3px
}
span{
/*    change Span color 'khlifa'*/
    color:var(--main-color);
    font-weight: bolder;
}
.home h4 
{
    color: var(--main-color);
    font-size: 50px;
    font-weight: 600;
}
.home h3 
{
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 3rem;
}
/*contact me button */
.btn
{
    display: inline-block;
    padding: 14px 40px;
    border-radius: 0.5rem;
    font-size: 17px;
    font-weight: 500;
    background: var(--main-color);
    color: var(--text-color);
    border: 1px solid var(--main-color);
    transition: all 0.40s ease;
}
.btn:hover{
    transform: scale(1.01) translateY(-1px);
    background: transparent;
    border: 1px solid var(--main-color);
}
.contactMe
{
/*    layout the contact section with the inputs*/
    display: grid;
    top: 0;
    background: var(--bg-color);
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    align-items: center;
}
#xBtn
{
    font-size: 36px;
    color: var(--text-color);
    cursor: pointer;
    float: right;

}
#xBtn:hover
{
    color: var(--main-color);
}

{
    margin: 10px 0;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}
.contact-text h2
{
    font-size: var(--h2-font);
}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 25px;
    margin-bottom: 3rem;
}
.contact-list
{
    margin-bottom: 1rem;
}
.contact-list li
{
    margin-bottom: 0.1rem;
}
.contact-list li a span
{
    color: var(--text-color);
}
.contact-list li a
{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    transition: all 0.40s ease;
}
.contact-list li a:hover
{
    color: var(--main-color);
}
.sm-contact i
{
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 20%;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    transition: all .30s ease; 
/*    transition to make it slowly changed whili hover*/
}
.sm-contact i:hover
{
    transform: scale(1.02) translateY(-1px);
    color: var(--text-color);
    background: var(--main-color);
}
.contactMe-form form
{
    position: relative;
}
.contactMe-form form input,form input
{
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    background: #000;
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 3px;
    border-radius: 10%;
}
.contactMe-form form textarea ,form textarea
{
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    background: #000;
    color: var(--text-color);
    font-size: 1rem;
    resize: none;
    height: 200px;
    margin-bottom: 3px;
    border-radius: 10%;
}
.send
{
    background: var(--main-color);
    color: var(--text-color);
    width: 150px;
    transition: all 0.30s ease;
    
}
.send:hover{
    color: var(--main-color);
    background:  var(--text-color);
    font-weight: 600;
}
/*while scroling js adds sticky to the header and this style will work all pages*/
header.sticky
{
    padding: 10px 16%;
    background: var(--bg-color);
    border-bottom: 1px solid #0e1630;
    transition: 0.3s;
}
    .contactMe
    {
        grid-template-columns: 1fr;
    }

/*Styling About paage*/
.about 
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 2rem;

}
.about-text h4
{
    margin: 10px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
}
.about-text h2
{
    font-size: var(--h2-font);
}
.about-text p
{
    color: var(--secand-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 2rem
}
.about-gri
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    grid-gap: 1rem;
    margin-bottom: 3rem;
}

.about-in h5
{
   font-size: 22px;
    font-weight: 600;
}
.about-img
{
    height: auto;
    width: 100%;
    max-width: 450px;
}
.btn{
    width: 180px;
}

/*Projects page*/
.main-text
{
    text-align: center;
}
.main-text h2
{
    font-size: var(--h2-font);
    margin-bottom: 10px;
}
.main-text h4
{
    color: var(--main-color);
    font-size:24px;
    font-weight: 600;
}
.projects-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    margin-top: 3rem; 
}
.projects-content img
{
    margin-left: 50%;
/*    make the img centerd*/
    transform: translate(-50%,0%); 
}
.box
{
    padding: 20px;
    background-color: rgb(61, 61, 61);
}

.box:hover
{
    transform: scale(1.01) translateY(-1px);
    border: 1px solid var(--main-color);
    border-top: 10px solid var(--main-color);
}
/*Footer*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid black;
}
.footer .main-contant 
{
    justify-content: flex-start;
    padding: 16px 3%;
}
.footer .sm-contact
{
    justify-content: flex-end;
     padding: 16px 3%;
}

/*Overlay*/
#overlay
{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgb(255,255,255,0.3);
}
#modeal
{
    max-width: 600px;
    height: 730px;
    margin: auto;
    background-color: rgb(30,30,30,0.9);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
     border-radius: 10%;
}
#contant{
    height: 100vh;
    padding: 16px 3%;
    border-radius: 5%;
    margin-left: 1rem;
}



/*adjasting the contant with page size*/

@media (max-width:1325px)
{
    header{
        padding: 16px 3%;
    }
    header.sticky
    {
        padding: 8px 3%;
    }
    section{
        padding: 130px 3% 60px 60px; 
    }
}
@media (max-width:970px)
{
    :root
    {
        --h1-font:3rem;
        --h2-font:2rem;
        --p-font:0.9rem;
        
    }
    section
    {
        padding: 80px 3% 70px 70px;
    }
/*
    .home {
        height: 60vh;}
*/
    .about{
        grid-template-columns: 1fr;
    }
    .contactMe
    {
        grid-template-columns: 1fr;
    }

}
@media (max-width:830px)
{
    #menu-icon
    {
        display: block;
    }
    .navBar
    {
        position: absolute;
        top:-500px;
        right:0;
        left:0;
        display: flex;
        flex-direction: column;
        background: #000;
        text-align: left;
        transition: all .30s ease;
        
    }
    .navBar a{
        display: block;
        padding: 1rem;
        margin: 1rem;

    }
    .navBar.active
    {
        top: 100%
    }
    :root
    {
        --h1-font:2rem;
        --h2-font:1rem;
        
    }
}